{% extends 'base.html' %}
{% block title %}Panel Administrador{% endblock %}
{% block content %}
<h1>Panel de Administrador</h1>
<div class="list-group">
  <a class="list-group-item" href="{% url 'app:user-list' %}">Usuarios</a>
  <a class="list-group-item" href="{% url 'app:faculty-list' %}">Facultades</a>
  <a class="list-group-item" href="{% url 'app:career-list' %}">Carreras</a>
  <a class="list-group-item" href="{% url 'app:subject-list' %}">Materias</a>
  <a class="list-group-item" href="{% url 'app:final-list' %}">Finales</a>
</div>
{% endblock %}