{% extends 'base.html' %}
{% block title %}Asignar profesores a materia{% endblock %}
{% block content %}
<h1>Asignar profesores a {{ subject.name }} ({{ subject.code }})</h1>
<form method="post">
  {% csrf_token %}
  <div class="mb-3">
    {% for p in professors %}
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="professors" value="{{ p.pk }}" id="p{{ p.pk }}" {% if p in subject.professors.all %}checked{% endif %}>
      <label class="form-check-label" for="p{{ p.pk }}">{{ p.user.get_full_name }} ({{ p.professor_id }})</label>
    </div>
    {% endfor %}
  </div>
  <button class="btn btn-primary">Guardar</button>
  <a class="btn btn-secondary" href="{% url 'users:subject-list' %}">Volver</a>
</form>
{% endblock %}
