{% extends 'base.html' %}
{% block title %}Asignar profesores a final{% endblock %}
{% block content %}
<h1>Asignar profesores a {{ final.subject.name }} - {{ final.date }}</h1>
<form method="post">
  {% csrf_token %}
  <div class="mb-3">
    {% for p in professors %}
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="professors" value="{{ p.id }}" id="p{{ p.id }}" {% if p in final.professors.all %}checked{% endif %}>
      <label class="form-check-label" for="p{{ p.id }}">{{ p.user.get_full_name }}</label>
    </div>
    {% endfor %}
  </div>
  <button class="btn btn-primary">Guardar</button>
  <a class="btn btn-secondary" href="{% url 'users:final-list' %}">Volver</a>
</form>
{% endblock %}
