{% extends 'base.html' %}
{% block title %}Usuario{% endblock %}
{% block content %}
<h1>Usuario</h1>
<form method="post">
  {% csrf_token %}
  <div class="row g-3">
    <div class="col-md-4">{{ user_form.username.label_tag }} {{ user_form.username }}</div>
    <div class="col-md-4">{{ user_form.first_name.label_tag }} {{ user_form.first_name }}</div>
    <div class="col-md-4">{{ user_form.last_name.label_tag }} {{ user_form.last_name }}</div>
    <div class="col-md-6">{{ user_form.email.label_tag }} {{ user_form.email }}</div>
    <div class="col-md-3">{{ user_form.dni.label_tag }} {{ user_form.dni }}</div>
    <div class="col-md-3">{{ user_form.phone.label_tag }} {{ user_form.phone }}</div>
    <div class="col-md-4">{{ user_form.birth_date.label_tag }} {{ user_form.birth_date }}</div>
    <div class="col-md-8">{{ user_form.address.label_tag }} {{ user_form.address }}</div>
    <div class="col-md-4">{{ user_form.role.label_tag }} {{ user_form.role }}</div>
    <div class="col-md-4">{{ user_form.is_active.label_tag }} {{ user_form.is_active }}</div>
  </div>

  <hr />
  {% if profile_form %}
    <div class="row g-3">
      <h5>Datos de Perfil</h5>
      {% for field in profile_form %}
        <div class="col-md-4">{{ field.label_tag }} {{ field }}</div>
      {% endfor %}
    </div>
  {% endif %}

  <div class="mt-3">
    <button class="btn btn-primary">Guardar</button>
    <a class="btn btn-secondary" href="{% url 'users:user-list' %}">Volver</a>
  </div>
</form>
{% endblock %}
